header nav {
    color: grey !important;
    font-weight: bold;
    display: flex;
    padding: auto;
    border-radius: 20%;

}

nav img {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(22, 2, 2);
    border-color: rgb(18, 1, 1);
    max-height: 100px;
}

header li {
    display: inline;
    line-height: 50px;
    margin-left: 50px
}

body {
    background-color: skyblue;
}

.family {
    max-width: Auto;
    max-height: Auto;
    display: block;
    margin: auto;
    padding: 20px;
}

body div p {
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    padding-bottom: 20px;
    border: 5px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:  10px;
    padding-top: 10px;
}

footer {
    background-color: rgba(111, 196, 159, 0.643);
    border: 5px solid #090000;
    padding: 8px;
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
