@media (max-width: 375px)

header nav {
    color: grey !important;
    font-weight: bold;
    display: flex;
    padding: auto;
    border-radius: 20%;
   
}

nav img {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(22, 2, 2);
    border-color: rgb(18, 1, 1);
    max-height: 100px;
}


header li {
    display: inline;
    line-height: 50px;
    margin-left: 50px
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
}

table th {
    font-weight: bold;
    text-align: left;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #090000;
}

table th {
    background-color: #eee;
    border: 1px solid #090000;
}

table td {
    border: 1px solid #ddd;
    border: 1px solid #000000;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
    border: 1px solid #090000;
}

form {
    background-color: rgba(111, 196, 159, 0.643);
    border: 2px solid #090000;
    padding: 8px;
    margin: 8px;
}

.salmoncookie {
    margin: 300px;
    padding: 8px;
    border: 2px solid #090000;
    padding: 30px;
    margin: 8px;
    max-width: 300px;
    max-height: 300px;
    background-color: aqua;
    display: inline-block;
}

.cookiecutter {
    margin: 30px;
    padding: 8px;
    border: 2px solid #090000;
    padding: 30px;
    margin: 8px;
    max-width: 200px;
    max-height: 200px;
    background-color: aqua;
    display: inline-block;
}

.schoolfish{
    margin: 30px;
    padding: 8px;
    border: 2px solid #090000;
    padding: 30px;
    margin: 8px;
    max-width: 200px;
    max-height: 200px;
    background-color: aqua;
    display: inline-block;
}

footer {
    background-color: rgba(111, 196, 159, 0.643);
    border: 5px solid #090000;
    padding: 8px;
    margin: 30px;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}