body {
    background-color:salmon;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.storelocations{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: whitesmoke;
   color: black;
   font-size: medium;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
}

table th {
    font-weight: bold;
    text-align: left;
}

table th, table td {
    padding: 8px;
    border: 1px solid #090000;
}

table th {
    background-color: #eee;
    border: 1px solid #090000;
}
   
table td {
    border: 1px solid #ddd;
    border: 1px solid #000000;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
    border: 1px solid #090000;
}

/* // Location on html */

footer {
    background-color: rgba(111, 196, 159, 0.643);
    border: 5px solid #090000;
    padding: 8px;
    margin: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

footer :first-child{
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    text-align: center;
}

form {
  background-color: rgba(111, 196, 159, 0.643);
  border: 2px solid #090000;
  padding: 8px;
}







